 body{
    margin: 0;
    padding:0;
    background: white;
}
.Boxes{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    height: 100px;
    

}
.Box1{
    background: red;
 text-align: center;
    position: relative;
    height: 100px;
}
.Box5{ background: indianred;
    text-align: center;
       position: relative;
       height: 50px;
       top: -100px;
       width: 50px;
       margin-left: 10px;
       margin-top: 1opx;

}
.Box2{
    background: violet;
 text-align: center;
    position: relative;
    height: 124px;